<ul class="nav justify-content-center text-bg-dark navbar-dark">
  <li class="nav-item">
    <a class="nav-link link-light" href="/hits">Hits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-light" href="/hits/create">New Hit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-light" href="/hitmen">Hitmen</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-light" href="/">Logout</a>
  </li>
</ul>