<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <!-- Reference: https://mdbootstrap.com/docs/standard/extended/login/ -->
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <h3 class="mb-5">Register User</h3>
                <div class="form-outline mb-4">
                  <input
                    type="name"
                    id="name"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="name">Name</label>
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="email">Email</label>
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="description"
                    id="description"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="description">Description</label>
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="password">Password</label>
                </div>

                <div class="d-grid gap-2">
                  <button class="btn btn-dark" type="button">Register</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
